@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* A0DEFF -- ff759c  -- 86B6F6 */
    --primary-color: #6f39fd; 
    --secondary-color: #171b22;
    --third-color:#86B6F6;  
    --text-color: #fff;
    --background-color-white:#fff;
    --text-muted: #999;  
    --placeholder-color: #c2c2c2;  
    --border-color: rgba(131,131,131,0.5);
    --border-color-white:#fff;
    --highlight-color: #00cc97;  
    --background-color: #171b22;  
    --input-border-color: rgba(131,131,131,0.5);  
    --input-focus-border-color: #6f39fd;  
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", system-ui;
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg.png);
    background-color: #0f141c;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
    color: var(--text-color);
}

body:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0f141ce4;
    z-index: -1;
}

.bars{
    display: none;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5% 8%;
}

img{
    width: 100%;
    height: 100%;
}